
demo1/.metadata/.log
demo1/.metadata/.log
*.log
*.ini
demo1/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
demo1/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
demo1/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
demo1/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
demo1/.metadata/.log
demo1/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
demo1/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
demo1/.metadata/version.ini
